.group {
  margin-block-end: 16px;
}

.label {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.label > span {
  padding-inline-end: 4px;
  font-weight: 600;
}

.checkbox {
  margin-inline: 0 8px;
  margin-block: 1px auto;
  inline-size: 16px;
  block-size: 16px;
}

.description {
  margin-inline-start: 24px;
  margin-block: 4px 8px;
}

@media (prefers-color-scheme: dark) {
  .description {
    color: rgb(177, 177, 179);
  }
}
